@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

$tlSmall: 0.4s;

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

.cl-cardContainer {
    width: 87%;
    margin: 0 auto;
}

.cl-regionCard {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 18px;
    font-family: 'Montserrat';
    box-shadow: 0px 45px 50px -20px rgba(0, 0, 0, 0.1);

    .flag {
        margin-right: 10px;
        vertical-align: sub;
    }

    .cl-regionName {
        display: inline;
        // margin-bottom: 0;
        font-size: 18px;
        color: #5d5d5d;
        overflow: hidden;
    }

    .cl-card-chip {
        position: absolute;
        top: 18px;
        right: 26px;
        background: rgba(182, 133, 77, .0627451);
        padding: 4px 8px;
        color: rgba(182, 133, 77, .6);
        font-size: 14px;
        border-radius: 3px;

        &::before {
            content: "";
            background-image: linear-gradient(to left, #ffffff 10%, transparent);
            position: absolute;
            height: 100%;
            width: 40px;
            left: -40px;
            top: 0;
        }

        span {
            color: #b6854d;
            font-weight: 500;
        }
    }

    .cl-dataContainer {
        padding: 4px 12px;

        span {
            font-size: 14px;
            color: #bbbbbb;
        }

        h3,
        h4 {
            font-family: Roboto;
            // color: #29306b;
            margin: -2px 0 0 -2px;
            transition: all ease-in 0.3s;
        }
    }

    .clc-data {

        h3,
        h4 {
            display: inline;
            color: #888888;
        }

        span {
            display: block;
        }

        .delta-confirmed {
            color: #ff7070;
        }

        .delta-recovered {
            color: #52bf68;
        }
    }

    .clc-million {
        padding-left: 16px;
        padding-right: 16px;
        background-color: #fff6f6;
        border-radius: 3px;
    }

    .cl-active {
        background-color: #f7f7ff;
        border-radius: 3px;

        h4 {
            color: #5e5eff;
        }
    }

    .cl-recovered {
        h4 {
            color: #52bf68;
        }
    }

    .cl-confirmed {
        h4 {
            color: #ff7070;
        }
    }

    .cl-deceased {
        h4 {
            color: #cccccc;
        }
    }

    .cl-vaccinated {
        background-color: #f7fff7;
        border-radius: 3px;
        z-index: 2;

        // border-left: 2px solid #3f914e;
        // border-right: 2px solid #e9fae9;
        h4 {
            color: #3f914e;
        }

        span {
            display: inline;
        }

        span.-pseudo-line {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0 0 3px 3px;
            width: 100%;
            height: 3px;
            background-image: linear-gradient(90deg, #3f914e 0%, #e9fae9 0%, #e9fae9 100%);
            transition: all 2s ease-in;
        }
    }
}

.cl-navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 100%;
    height: 50px;

    .cl-logo {
        display: flex;
        align-items: center;
        gap: 14px;

        .cl-name {
            color: #456;
            text-transform: initial;
            line-height: 1;
            margin: 0;
        }
    }

    .cl-search-icon {
        position: relative;
    }

    #cl-navSearchbox {
        position: relative;
        width: 50px;
        height: 100%;
        float: right;
        outline: none;
        border-radius: 50px;
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
        color: #888888;
        letter-spacing: 1.5px;
        transition: all $tlSmall;
        cursor: pointer;

        &:hover:not(:focus) {

            // box-shadow: 0 0 0 5px #f2f2f2;
            ~.cl-searchIcon {
                opacity: 1;
            }
        }

        &:focus {
            width: calc(100% + 30px);
            padding: 10px 20px;
            border-radius: 8px;
            cursor: text;

            ~svg {
                transform: scale(0);
            }
        }

        &::placeholder {
            color: #cdcdcd;
            opacity: 1;
        }

        &:not(:focus) {
            text-indent: -5000px;
        }
    }

    .cl-searchIcon {
        position: absolute;
        top: 48%;
        right: 15px;
        margin: 0;
        opacity: 0.6;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
    }

    .cl-search-result {
        position: absolute;
        width: 100%;
        top: 64px;
        z-index: 1;

        ul {
            width: 100%;
            max-height: 240px;
            padding: 0.5rem 0;
            margin: 0;
            border-radius: 8px;
            background-color: white;
            overflow: scroll;
            -webkit-box-shadow: 1px 1px 32px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 1px 1px 32px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 1px 1px 32px 0px rgba(0, 0, 0, 0.16);

            .cl-regionItem {
                position: relative;
                list-style: none;
                padding: 0.6rem 1rem;
                color: #b6b6b6;
                cursor: pointer;

                &:hover {
                    background-color: #fafafa;
                }

                .cl-region-code {
                    position: absolute;
                    right: 1rem;
                    color: #ff7070;
                    text-transform: uppercase;
                }
            }
        }
    }
}

button.fab {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 8px 20px;
    border-radius: 50px;
    border: 2px solid #52bf68;
    outline: none;
    color: white;
    font-weight: 600;
    background-color: #52bf68;
    box-shadow: 7px 8px 41px -5px rgba(56, 227, 106, 0.34);
    -webkit-box-shadow: 7px 8px 41px -5px rgba(56, 227, 106, 0.34);
    -moz-box-shadow: 7px 8px 41px -5px rgba(56, 227, 106, 0.34);
    z-index: 10;

    @include breakpoint-down("sm") {
        right: 32px;
        bottom: 32px;
    }

    &:hover {
        background-color: white;
        color: #52bf68;
        box-shadow: none;
    }
}

.vac-center {
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 1px solid #d3d3d3;

    span.name {
        font-weight: 600;
        color: gray;
    }

    span.address {
        display: block;
        font-size: 14px;
        color: #a0a0a0;
    }

    a.call {
        position: absolute;
        right: 16px;
        background-color: #ffffff;
        padding: 0 8px;
        border-radius: 50px;
        border: 1px solid #d3d3d3;
    }
}

.loader {
    position: relative;
    height: 3px;
    width: 40px;
    margin-top: 6px;
    overflow: hidden;

    .bar {
        width: 100%;
        position: absolute;
        height: 3px;
        background-color: #888888;
        animation-name: loader-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@keyframes loader-animation {
    0% {
        left: -80%;
    }

    25% {
        left: 80%;
    }

    50% {
        left: -80%;
    }

    75% {
        left: 80%;
    }

    100% {
        left: -80%;
    }
}

@include breakpoint-down(sm) {
    .delta {
        display: block;
        margin-top: 4px;
    }

    .cl-cardContainer {
        width: 95%;
    }

    .cl-dataContainer {
        padding: 6px 12px !important;
    }
}